html, body {
    height: 100%;
}

.centering-text {
    text-align: center;
}


.ba-bar {
	position: relative;
	width: 100%;
	height: 2em;
	background-color: #1e2810;
	border-radius: 1em;
	color: white;
}
.ba-running{
    position: relative;
	width: auto;
	height: 2em;
	background-color: #48872c;
	border-radius: 1em;
	color: white;
}


